Sesion07/Solution_Test_Publicacion/Cliente_WEB_Ventas/Connected Services/ProxyVendedor/WCF_Ventas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-l8lj9p3/wcf_ventas/WCF_Ventas.ServicioVendedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" />
  <xs:element name="ConsultarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="ConsultarVendedorResult" nillable="true" type="q1:VendedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="ListarVendedorResult" nillable="true" type="q2:ArrayOfVendedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="objVendedorDC" nillable="true" type="q3:VendedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarVendedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="objVendedorDC" nillable="true" type="q4:VendedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarVendedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarVendedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSupervisores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSupervisoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="ListarSupervisoresResult" nillable="true" type="q5:ArrayOfVendedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>