Sesion07/Solution_Test_Publicacion/Cliente_WEB_Ventas/Connected Services/ProxyVendedor/WCF_Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Ventas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VendedorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellNom_Supervisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Supervisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_ven" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Registro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_ing" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nom_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sue_ven" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tip_ven" type="xs:short" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendedorDC" nillable="true" type="tns:VendedorDC" />
  <xs:complexType name="ArrayOfVendedorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendedorDC" nillable="true" type="tns:VendedorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendedorDC" nillable="true" type="tns:ArrayOfVendedorDC" />
</xs:schema>