Sesion03/DemoWCF_02/WebTestWCF_Infracciones/Connected Services/ProxyInfracciones/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarPapeletasAuto_Fechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPapeletasAuto_FechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPapeletasAuto_FechasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadisticaMultas_AutoMensual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="año" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadisticaMultas_AutoMensualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstadisticaMultas_AutoMensualResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadisticaPapeletas_AutoAnual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadisticaPapeletas_AutoAnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstadisticaPapeletas_AutoAnualResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>