Sesion09/DemoWCFTransaccional/DemoWEB_Transferencias/Connected Services/ProxyEmpresa2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFEmpresa2" />
  <xs:element name="SumarSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEmpresa2" minOccurs="0" name="objClienteEmp2" nillable="true" type="q1:ClienteEmp2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumarSaldoResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>