Sesion09/DemoWCFTransaccional/DemoWEB_Transferencias/Connected Services/ProxyEmpresa2/WCFEmpresa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEmpresa2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEmpresa2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteEmp2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEmp2" nillable="true" type="tns:ClienteEmp2" />
</xs:schema>