Sesion10/SolucionWCF_Seguro/TestWindow1/Connected Services/ProxyPromediar/WCFSeguro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Promediar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v1" type="xs:float" />
        <xs:element minOccurs="0" name="v2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromediarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromediarResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>