Sesion09/DemoWCFTransaccional/DemoWEB_Transferencias/Connected Services/ProxyEmpresa1/WCFEmpresa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEmpresa1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEmpresa1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteEmp1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEmp1" nillable="true" type="tns:ClienteEmp1" />
</xs:schema>